<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="addhosimgUrl" value="D:/FTP/EHR/fileftp/Hospital/"/>
    <add key="gethosimgUrl" value="http://fileftp.amaderdoctor.com/Hospital/"/>
    <add key="addPatimgUrl" value="D:/FTP/EHR/fileftp/Patient/"/>
    <add key="getPatimgUrl" value="http://fileftp.amaderdoctor.com/Patient/"/>
    <add key="addEmpimgUrl" value="D:/FTP/EHR/fileftp/Employee/"/>
    <add key="getEmpimgUrl" value="http://fileftp.amaderdoctor.com/Employee/"/>
    <add key="AddDocImgUrl" value="D:/FTP/EHR/fileftp/Doctor/"/>
    <add key="getDocimgUrl" value="http://fileftp.amaderdoctor.com/Doctor/"/>
    <add key="getinvbarcode" value="http://fileftp.amaderdoctor.com/Barcode/Investigation/"/>
    <add key="addinvbarcode" value="D:/FTP/EHR/fileftp/Barcode/Investigation/"/>
    <add key="gethosdefaultimg" value="http://fileftp.amaderdoctor.com/Hospital/DefaultHospitalLogo/"/>
    <add key="JsonFile" value="D:/FTP/EHR/fileftp/Doctor/JsonFile"/>
    <add key="addDoctorSignature" value="D:/FTP/EHR/fileftp/DoctorSignature/"/>
    <add key="getDoctorSignature" value="http://fileftp.amaderdoctor.com/DoctorSignature/"/>
    <add key="addEmployeeSignature" value="D:/FTP/EHR/fileftp/EmployeeSignature/"/>
    <add key="getEmployeeSignature" value="http://fileftp.amaderdoctor.com/EmployeeSignature/"/>
    <add key="addhosinvreport" value="D:/FTP/EHR/fileftp/InvestigationReport/"/>
    <add key="gethosinvreport" value="http://fileftp.amaderdoctor.com/InvestigationReport/"/>
    <!--<add key="db" value="staging"/>-->
    <!--<add key="db" value="development"/>-->
    <add key="db" value="production"/>
    <!--<add key="apiurl" value="http://localhost:44336/api/common/getcommonwebdetails" />-->
    <!--<add key="apiurl" value="http://generalapi.amaderdoctor.com/api/common/getcommonwebdetails"/>-->
    <add key="apiurl" value="http://aodliveapi.amaderdoctor.com//api/common/getcommonwebdetails" />
    <!--Belowe  Details For Development-->
    <!--<add key="ApiToken" value="ekdaS3M4UDZKTnovVERzNEo4SGNCTU1iT1lnTGxKY3dpWVdiL3hJb2JmVT06U01TOmFsbHdlYnNpdGU6UHJlc2NyaXBhdGlvbjo6MA=="/>-->
    <!--Belowe  Details For Live-->
    <add key="ApiToken" value="WGdXUnVZbFBhZ053bk1HUUtFd1RLZUJxZXpneDN3NU9wU1l6aWM0ZjlBVT06b25saW5lX2FtYWRlcl9kb2N0b3I6T25saW5lIEFtYWRlciBEb2N0b3I6b25sX2FtYV9kb2M6SFAtMTYwMjIwNTcwLTAwMTox" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1"/>
    <sessionState mode="InProc" cookieless="false" timeout="1440"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>