<div class="modal fade custom-modal timeout_popup" data-backdrop="static" id="timeout_popup">
    <div class="modal-dialog modal-md">
        <div class="modal-content text-center" style="border:2px solid rgba(0, 0, 0, 0.33)">
            <div class="modal-header" style="height:39px;padding: 8px 15px;background-color:#15558d;">
                <h5 class="modal-title" style="color:#fff;">Session Expire <i class="ti ti-time"></i></h5>
            </div>
            <div class="modal-body">
                <label>Your session is expire, click here to re-generate session.</label>
            </div>
            <div class="modal-footer timeout_icon" style="justify-content:center;">
                <a href="~/Login/Index" class="btn btn-sm btn-primary"><i class="ti ti-time"></i> Re-Generate Session </a>
            </div>
        </div>
    </div>
</div>