
@{
    ViewBag.Title = "UnAurthorize";
}
<div class="main-wrapper error-wrapper">
    <div class="error-box">
        <h1>401</h1>
        <h3><i class="fa fa-warning"></i> Oops! You are not authorized to view this page!</h3>
        <a href="~/Dashboard/Dashboard" class="btn btn-primary go-home">Go to Home</a>
    </div>
</div>

